{:paths ["src"],
 :deps
 {org.clojure/core.async {:mvn/version "1.1.587"},
  cheshire/cheshire {:mvn/version "5.10.0"},
  find-deps
  {:git/url "https://github.com/hagmonk/find-deps",
   :sha "6fc73813aafdd2288260abb2160ce0d4cdbac8be"},
  org.clojars.ogrim/organum {:mvn/version "0.2.0"}},
 :aliases
 {:run {:main-opts "-m ralphie.core"},
  :find-deps
  {:extra-deps
   {find-deps
    {:git/url "https://github.com/hagmonk/find-deps",
     :sha "6fc73813aafdd2288260abb2160ce0d4cdbac8be"}},
   :main-opts ["-m" "find-deps.core"]}}}
