{:paths ["src" "test"]

 :deps
 {org.clojure/core.async {:mvn/version "1.3.610"}
  cheshire/cheshire      {:mvn/version "5.10.0"}

  teknql/wing
  {:git/url "https://github.com/teknql/wing"
   :sha     "26c525b7ec6c65d9f71d6b8a26315e5b118ab501"}

  borkdude/babashka {:mvn/version "0.2.3"}
  ;; babashka/babashka.pods {:mvn/version "0.0.1-SNAPSHOT"}
  ;; babashka/pod-babashka-filewatcher
  ;; {:git/url "https://github.com/babashka/pod-babashka-filewatcher"
  ;;  :sha     "a0f6c96376ff03d8f8b04d6338a016c174480392"}

  borkdude/carve
  {:git/url "https://github.com/borkdude/carve"
   :sha     "e9e2b1fbdd337b989c65a1983a1b3f72e310c970"}

  russmatney/org-crud
  {:git/url "https://github.com/russmatney/org-crud"
   :sha     "d06b2686a6832e715d34ed5c8ce515a7a2748e32"}}

 :aliases
 {:run {:main-opts "-m ralphie.core"}

  :test {:main-opts ["-m" "kaocha.runner"]
         :extra-deps
         {nubank/matcher-combinators {:mvn/version "3.1.4"}
          lambdaisland/kaocha        {:mvn/version "1.0.700"}}}

  :remove-spec
  {:classpath-overrides {org.clojure/spec.alpha       nil
                         org.clojure/core.specs.alpha nil}}

  :carve {:jvm-opts  ["-XX:-OmitStackTraceInFastThrow"]
          :main-opts ["-m" "carve.main"]}}}
