{:paths ["src"]

 :deps
 {cheshire/cheshire {:mvn/version "5.10.0"}
  babashka/process {:mvn/version "0.0.2"}
  russmatney/defthing {:local/root "../defthing"}
  org.clojure/tools.cli {:mvn/version "1.0.206"}}

 :aliases
 {:dev
  {:extra-deps
   {teknql/wing
    {:git/url "https://github.com/teknql/wing"
     :sha     "26c525b7ec6c65d9f71d6b8a26315e5b118ab501"}

    borkdude/carve {:git/url "https://github.com/borkdude/carve"
                    :sha     "e9e2b1fbdd337b989c65a1983a1b3f72e310c970"}}}
  :run {:main-opts "-m ralphie.core"}

  :test {:extra-paths ["test"]
         :main-opts   ["-m" "kaocha.runner"]
         :extra-deps
         {nubank/matcher-combinators {:mvn/version "3.1.4"}
          lambdaisland/kaocha        {:mvn/version "1.0.700"}}}

  :remove-spec
  {:classpath-overrides {org.clojure/spec.alpha       nil
                         org.clojure/core.specs.alpha nil}}

  :carve {:jvm-opts  ["-XX:-OmitStackTraceInFastThrow"]
          :main-opts ["-m" "carve.main"]}}}
